.zebra{
    text-align: center;
    background-color: rgb(249,  158, 233);
    font-size: 40px
}

h3{
    font-size: 28px;
}

p, li{
    font-size: larger;
}

img{
    height:auto;
    width: 400px;
}